:root {
  --color-default-dark: #000000;
  --color-default-light: #ffffff;
  --color-light: rgba(255, 255, 255, 0.7);
  --color-dark-bg: #253334;
  --color-border: rgba(58, 80, 81, 0.5);
  --color-light-bg: #f7f3f0;
  --color-hover-button: #202728;
  --color-inactive: rgba(255, 255, 255, 0.5);
  --color-hover-icon: #69b09c;
  --color-auth-button: #7c9a92;
  --color-auth-input: #bec2c2;

  --font-alegreya: 'Alegreya', serif;
  --font-alegreya-sans: 'Alegreya Sans', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: var(--color-default-light);
  background: var(--color-dark-bg);
  font-family: var(--font-alegreya-sans);
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
